*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a{
    color: black;
    font-weight: 550;
    text-decoration: none;
}

header{
    height: 60px;
    background-color: rgb(148, 139, 189);
    text-align: center;
}

.NavBar{
    padding-top: 18px;
}

#navbar-title{
    color: rgb(241, 238, 238);
    font-size: 25px;
}

.Items{
    padding-top: 15px;
    padding-bottom: 15px;
}

#item-table{
    width: 100%;
    text-align: center;
}

.Item-img{
    height: 100px;
}

.Item-tag{
    font-size: 14px;
}

.Item-tag:hover{
    color: rgb(128, 107, 220);
}

.Shopping-container{
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 30px;
}

#shopping-time-img{
    margin-top: 30px;
    width: 800px;
    height: 500px;
    border: 1px solid black;
    object-fit: cover;
}

.Sales-table{
    width: 90vw;
    height: 30px;
    border: 1px solid rgb(17, 17, 16);
    margin-left: auto;
    margin-right: auto;
    
    
    
}

.Sales-table-head{
    background-color: rgb(196, 15, 96);
}


.Information{
    width: 92vw;
    margin: 20px;
    font-size: 11px;
    color: rgb(36, 36, 36);
    

}
footer{
  height: 80px;
  padding-top: 10px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
}
header {
    display: flex;
    color:white;
    justify-content:center;
    align-items:center;
    background-color: rgb(0, 0, 0);
    padding: 15px 50px;
    position: sticky;
    top: 0;
}
nav a{
    color:white;
    margin-left: 20px;
    text-decoration: none;
}


.navbar .nav-links {
    list-style: none;
    display: flex;
    
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: rgb(246, 247, 241);
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: rgb(252, 133, 53);
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: rgb(249, 241, 241);
}


.login-form {
    background-color: rgb(106, 105, 105);
    padding: 40px;
    border-radius: 8px;
   
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(13, 13, 13);
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #0d0d0d;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.login-form button:hover{
    transition-duration: 0.3s;
    background-color: rgb(233, 174, 47);
}


.login-form p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color:white
}
